body{
    background-image: url("./images/bg-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.start-btn{
    height: 70px;
    width: 200px;
    background: linear-gradient(to bottom right, #000066 0%, #ff00ff 100%);
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 300px;
    font-size: larger;
    cursor: pointer;
}
.start-btn:hover{
    box-shadow: 0px 0px 22px 3px white;
    transition: 5ms;
    font-weight: bold;
}