body{
    background-image: url("./images/bg-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.start-btn{
    height: 70px;
    width: 200px;
    background: linear-gradient(to bottom right, #000066 0%, #ff00ff 100%);
    border: none;
    color: white;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
    margin-top: 15px;
}
.start-btn:hover{
    background: linear-gradient(to bottom right, #ffff00 0%, #ff6600 100%);
    box-shadow:0px 0px 15px 2px rgba(228, 219, 219, 0.3);
    transition: 5ms;
    font-weight: bold;
}
.app-title{
    text-align: center;
    align-items: center;
    width: fit-content;
    margin-left: 520px;
    margin-top: 100px;
    color: white;
    font-size:90px;
}
.playername-btn{
    height: 40px;
    width: 220px;
    background: linear-gradient(to bottom right, #000066 0%, #ff00ff 100%);
    border: none;
    color: white;
    border-radius:5px;
    font-size: larger;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
}
.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}